@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-green-50: #eff6ff;
  --color-green-100: #dbeafe;
  --color-green-200: #bfdbfe;
  --color-green-300: #93c5fd;
  --color-green-400: #60a5fa;
  --color-green-500: #3b82f6;
  --color-green-600: #2563eb;
  --color-green-700: #1d4ed8;
  --color-green-800: #1e40af;
  --color-green-900: #1e3a8a;
  --color-green-950: #172554;
}